.App {
  display: flex; 
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.App-title {
  margin-top: 0;
  color: white;
  margin-bottom: 0;
  font-weight: 100;
  display: inline-block;
  font-size: 3.5rem;
  width: 100%;
}
